[user]
	name = rosem
	email = michael_rose@gmx.de
	signingkey = A48F2F26FBD0CC5BEB9E2C3A29C8ADA24CA6D472
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vim
	pager = cat
[color]
	ui = auto
[push]
	default = simple
[merge]
	ff = true
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lg = !"git lg3"
	pup = push --set-upstream origin
[commit]
	gpgsign = true
[gpg]
	program = gpg
